.canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #555555aa;
}

.modal {
  position: absolute;
  bottom: 0;
  max-height: calc(100% - 40px);

  background: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 2rem 1rem rgb(0 0 0 / 20%);
  animation: modalKF 0.2s;

  display: flex;
  flex-direction: column;
}

@keyframes modalKF {
  from {
    bottom: -100%;
  }

  to {
    margin-top: 0;
  }
}
