.card h3 {
  margin: 0.5rem 0;
}

.card svg {
  display: block;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row > * {
  flex: 1 300px;
}

.chart,
.chartContainer {
  width: 100%;
  height: 200px;
  margin: 0.5rem 0;
}

.chart rect:global(.selection) {
  fill: #acf;
  stroke: #79f;
  opacity: 0.8;
}

.limit {
  color: orange;
}

.summary,
.suggestion,
.form {
  padding-left: 40px;
  margin: 0.5rem 0;
}

.form button {
  padding: 1px 2px;
}

.form input[type="number"] {
  width: 50px;
}

/* remove input arrows */
.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  display: none;
}
