.modal {
  max-width: 700px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgb(0 0 0 / 20%);
}

.modal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.modal h3 {
  margin: 0 0 1rem 0;
}

.group {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.actions {
  background: #eee;
  padding: 0.5rem 1rem;
}

.actions button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.modal input[type="number"] {
  width: 60px;
}
