.card {
  min-height: 305px;
}

.card h2 a {
  text-decoration: unset;
  color: unset;
}

.card h2 {
  margin: 1rem 0;
}

.affinity {
  background-color: lightgreen;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: inherit;
  padding: 0 6px;
}

.affinityInfo {
  background-color: #222;
  color: #ddd;
  border-radius: 5px;
  padding: 10px;
}
